/*
 * Globals
 */

/*
font-family: 'Oswald', sans-serif;
font-family: 'Antic', sans-serif;
font-family: 'Arimo', sans-serif;
*/

html *
{
   font-family: 'Antic', sans-serif !important;
}

h1, h3 {
  font-family: 'Oswald', sans-serif !important;
  margin-bottom: 30px !important;
}

.inner-cover p {
  font-size: 16px !important;
  margin: 0 140px 10px ;
}

.dashboard {
  display: block;
  float: left;
  background-color: #bbd1f6;
  border-radius: 5%;
}
