$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './assets/styles/custom';
@import './assets/styles/cover';

#dashboard-view {
  background-color: #19336e;
  opacity: 0.5;
}
